.heading{
    text-align: center; 
    background-color: #000000;
    font-size: 46px;
    color: #fff;
    border-radius: 20px;
  
  }
  
  .notice{
    color: #ee0c0c;
    font-size: 16px;
    text-align: center; 
  
  }
  .user-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px 20px 20px 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center; /* Center-align the form content */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align the form labels and input fields */
  }
  
  label {
    margin: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  
  select {
    padding: 5px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    text-align: left; /* Left-align the input fields */
  }
  
  .dbutton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  
  .dbutton_2 {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  
    &:hover {
      background-color: #ff9933; /* Change the background color on hover */
    }
  }
  
  
  .dbutton_3 {
    background-color: #ff006f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  
    &:hover {
      background-color: #ff33be; /* Change the background color on hover */
    }
  }
  
  button:hover {
    background-color: #0056b3;
  }

  /* Style for the container */
.data-container {
    margin: 20px;
  }
  
  /* Style for the data list */
  .data-list {
    list-style: none;
    padding: 0;
  }
  
  /* Style for each data item */
  .data-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  /* Style for the delete button */
  .delete-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .delete-button:hover {
    background-color: #c0392b;
  }
  
  /* Style for the "Edit" button */
.edit-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px; /* Add spacing between "Edit" and "Delete" buttons */
  }
  
  .edit-button:hover {
    background-color: #2980b9;
  }
  